{% extends "layout.html" %}

{% block css %}{% endblock %}

{% block html %}
<div id="root">
    <navbar></navbar>
    <tracker></tracker>
</div>
{% endblock %}

{% block js %}
<script>
    Vue.component('navbar', {
        delimiters: ['{|', '|}'],
        template: `<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Tracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">{| user.first_name |} {| user.last_name |}</a>
                        </li>
                    </ul>
                    <button class="btn btn-outline-warning" type="button" @click="logoutUser()">Log Out</button>
                </form>
            </div>
        </nav>`,
        data() {
            return {
                user: {
                    first_name: "Anonymous",
                    last_name: "User",
                },
            };
        },
        methods: {
            async userDetail() {
                let request = new Request('{% url "detail" %}', {
                    method: 'GET',
                    headers: this.$root.headers,
                });
                let response = await fetch(request);
                let data = await response.json();
                if (response.status !== 200) {
                    alert(JSON.stringify(data));
                    return;
                }
                this.user = data;
            },
            async logoutUser() {
                let request = new Request('{% url "logout" %}', {
                    method: 'DELETE',
                    headers: this.$root.headers,
                });
                let response = await fetch(request);
                if (response.status !== 204) {
                    if (response.status !== 401) {
                        localStorage.removeItem(STORE_KEY);
                        window.location.replace('{% url 'home' %}');
                    }
                    alert(JSON.stringify(data));
                    return;
                }
                localStorage.removeItem(STORE_KEY);
                window.location.replace('{% url 'home' %}');
            },
        },
        mounted() {
            this.userDetail();
        },
    });

    Vue.component('tracker', {
        delimiters: ['{|', '|}'],
        template: `<div class="card">
            <div class="card-header d-flex justify-content-center">
                <form class="row g-3">
                    <div class="mb-3">
                        <label for="inputDescription" class="visually-hidden">Email</label>
                        <input type="text" class="form-control" id="inputDescription" placeholder="Description" v-model="description" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary mb-3" @click="createItem();">Submit</button>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div class="btn-group" role="group" aria-label="Buttons for status">
                    <div v-for="e of statusChoices" :key="e[0]">
                        <div v-if="status===e[0]">
                            <button type="button" class="btn btn-dark" @click="filterItemByStatus(e[0]);">{| e[1] |}</button>
                        </div>
                        <div v-else>
                            <button type="button" class="btn btn-outline-dark" @click="filterItemByStatus(e[0]);">{| e[1] |}</button>
                        </div>
                    </div>
                </div>
                <div class="col-auto" v-if="results.length === 0">
                    <h2>No entries.</h2>
                </div>
                <div v-else>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" v-for="e of keyDisplay" :key="e[0]">{| e[1] |}</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="result in results">
                                <td v-for="key in keyDisplay.keys()">
                                    <div v-if="key==='status'">{| statusChoices.get(result[key]) |}</div>
                                    <div v-else-if="key==='created' || key==='updated'">{| (new Date(result[key])).toString() |}</div>
                                    <div v-else>{| result[key] |}</div>
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Status
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <li v-for="e of statusChoices" :key="e[0]">
                                                <a class="dropdown-item" href="#" @click="partialUpdateItem(result.id, e[0])">{| e[1] |}</a>
                                             </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" @click="destroyItem(result.id);">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav class="d-flex justify-content-end" aria-label="Page navigation example">
                        <ul class="pagination">
                            <div v-if="previous">
                                <li class="page-item">
                                    <a class="page-link" href="#" @click="previousPage();">Previous</a>
                                </li>
                            </div>
                            <div v-else>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#"">Previous</a>
                                </li>
                            </div>
                            <li class="page-item"><a class="page-link" href="#">{| page |}</a></li>
                            <div v-if="next">
                                <li class="page-item">
                                    <a class="page-link" href="#" @click="nextPage();">Next</a>
                                </li>
                            </div>
                            <div v-else>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#"">Next</a>
                                </li>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>`,
        data() {
            return {
                keyDisplay: new Map(),
                statusChoices: new Map([
                    [null, 'All'],
                ]),
                description: null,
                status: null,
                page: 1,
                next: null,
                previous: null,
                results: [],
            };
        },
        methods: {
            async itemStatusChoices() {
                let request = new Request('{% url "item-list" %}', {
                    method: 'OPTIONS',
                    headers: this.$root.headers,
                });
                let response = await fetch(request);
                let data = await response.json();
                if (response.status !== 200) {
                    alert(JSON.stringify(data));
                    return;
                }
                let post = data.actions['POST'];
                post.status.choices.forEach((element) => {
                    this.statusChoices.set(element['value'], element['display_name']);
                });
                for (let key in post) {
                    this.keyDisplay.set(key, post[key].label);
                }
            },
            async listItem() {
                let urlSearchParams = new URLSearchParams([
                    ['page', this.page],
                ]);
                if (this.status !== null) {
                    urlSearchParams.append('status', this.status);
                }
                let queryParams = urlSearchParams.toString();
                let request = new Request(`{% url "item-list" %}?${queryParams}`, {
                    method: 'GET',
                    headers: this.$root.headers,
                });
                try {
                    let response = await fetch(request);
                    let data = await response.json();
                    if (response.status !== 200) {
                        alert(JSON.stringify(data));
                        return;
                    }
                    this.next = data.next;
                    this.previous = data.previous;
                    this.results = data.results;
                } catch (err) {
                    alert(err);
                    return;
                }
            },
            async nextPage() {
                this.page += 1;
                this.listItem();
            },
            async previousPage() {
                this.page -= 1;
                this.listItem();
            },
            async filterItemByStatus(status) {
                this.status = status;
                this.listItem();
            },
            async createItem() {
                let request = new Request('{% url "item-list" %}', {
                    method: 'POST',
                    headers: this.$root.headers,
                    body: JSON.stringify({description: this.description}),
                });
                let response = await fetch(request);
                let data = await response.json();
                this.items = data['data'];
                if (response.status !== 201) {
                    alert(JSON.stringify(data));
                    return;
                }
                this.listItem();
                this.description = null;
            },
            async partialUpdateItem(id, status) {
                let request = new Request(`{% url "item-list" %}${id}/`, {
                    method: 'PATCH',
                    headers: this.$root.headers,
                    body: JSON.stringify({status: status}),
                });
                let response = await fetch(request);
                let data = await response.json();
                if (response.status !== 200) {
                    alert(JSON.stringify(data));
                    return;
                }
                this.listItem();
            },
            async destroyItem(id) {
                let request = new Request(`{% url "item-list" %}${id}/`, {
                    method: 'DELETE',
                    headers: this.$root.headers,
                });
                let response = await fetch(request);
                if (response.status !== 204) {
                    let data = await response.json();
                    alert(JSON.stringify(data));
                    return;
                }
                this.listItem();
            },
        },
        mounted() {
            this.itemStatusChoices();
            this.listItem();
        },
    });

    new Vue({
        el: '#root',
        data: {
            headers: new Headers([
                ['Content-Type', 'application/json'],
                ['Authorization', `Token ${localStorage.getItem(STORE_KEY)}`],
            ]),
        },
        mounted() {
            let token = localStorage.getItem(STORE_KEY);
            if (token) return;
            localStorage.removeItem(STORE_KEY);
            window.location.replace('{% url 'home' %}');
        },
    });
</script>
{% endblock %}
