{% extends "layout.html" %}

{% block css %}{% endblock %}

{% block html %}
<div id="root">
    <div class="d-flex justify-content-center" v-if="setToLogin">
        <login></login>
    </div>
    <div class="d-flex justify-content-center" v-else>
        <register></register>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    Vue.component('register', {
        template: `<div class="card">
            <div class="card-header d-flex justify-content-center">
                <h2 class="card-title">Tracker</h2>
            </div>
            <div class="card-body">
                <form class="row g-3">
                    <div>
                        <div class="mb-3">
                            <label for="inputFirstName" class="visually-hidden">First name</label>
                            <input type="text" class="form-control" id="inputFirstName" placeholder="First name" v-model="first_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputLastName" class="visually-hidden">Last name</label>
                            <input type="text" class="form-control" id="inputLastName" placeholder="Last name" v-model="last_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="visually-hidden">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" v-model="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="visually-hidden">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" v-model="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputConfirmPassword" class="visually-hidden">Confirm password</label>
                            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm password" v-model="confirm_password" required>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3" @click="registerUser()">Register</button>
                    </div>
                </form>
                <hr/>
                <form class="row g-3 d-flex justify-content-center">
                    <div class="col-auto">
                        <label for="inputSwitch" class="visually-hidden">Switch</label>
                        <input type="text" readonly class="form-control-plaintext" id="inputSwitch" value="Already registered?">
                    </div>
                    <div class="col-auto justify-content-center">
                        <button type="button" class="btn btn-info mb-3" @click="$root.setToLogin=!$root.setToLogin;">Log In</button>
                    </div>
                </form>
            </div>
        </div>`,
        data() {
            return {
                first_name: null,
                last_name: null,
                email: null,
                password: null,
                confirm_password: null,
            };
        },
        methods: {
            async registerUser() {
                let request = new Request('{% url "register" %}', {
                    method: 'POST',
                    headers: this.$root.headers,
                    body: JSON.stringify({
                        first_name: this.first_name,
                        last_name: this.last_name,
                        email: this.email,
                        password: this.password,
                        confirm_password: this.confirm_password,
                    }),
                });
                try {
                    let response = await fetch(request);
                    let data = await response.json();
                    if (response.status !== 201) {
                        alert(JSON.stringify(data));
                        return;
                    }
                    alert(`${data.first_name} you have been registered successfully.`);
                } catch (err) {
                    alert(err);
                    return;
                }
            },
        },
    });

    Vue.component('login', {
        template: `<div class="card">
            <div class="card-header d-flex justify-content-center">
                <h2 class="card-title">Tracker</h2>
            </div>
            <div class="card-body">
                <form class="row g-3">
                    <div>
                        <div class="mb-3">
                            <label for="inputEmail" class="visually-hidden">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" v-model="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="visually-hidden">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" v-model="password" required>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary mb-3" @click="loginUser()">Log In</button>
                        </div>
                    </div>
                </form>
                <hr/>
                <form class="row g-3 d-flex justify-content-center">
                    <div class="col-auto">
                        <label for="inputSwitch" class="visually-hidden">Switch</label>
                        <input type="text" readonly class="form-control-plaintext" id="inputSwitch" value="Not already registered?">
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-info mb-3" @click="$root.setToLogin=!$root.setToLogin;">Register</button>
                    </div>
                </form>
            </div>
        </div>`,
        data() {
            return {
                email: null,
                password: null,
            };
        },
        methods: {
            async loginUser() {
                let request = new Request('{% url "login" %}', {
                    method: 'POST',
                    headers: this.$root.headers,
                    body: JSON.stringify({
                        email: this.email,
                        password: this.password,
                    }),
                });
                try {
                    let response = await fetch(request);
                    let data = await response.json();
                    if (response.status !== 201) {
                        alert(JSON.stringify(data));
                        return;
                    }
                    localStorage.setItem(STORE_KEY, data['token']);
                    window.location.replace('{% url "dashboard" %}');
                } catch (err) {
                    alert(err);
                    return;
                }
            },
        },
    });

    new Vue({
        el: '#root',
        data: {
            setToLogin: true,
            headers: new Headers([
                ['Content-Type', 'application/json'],
            ]),
        },
        mounted() {
            let token = localStorage.getItem(STORE_KEY);
            if (!token) return;
            window.location.replace('{% url "dashboard" %}');
        },
    });
</script>
{% endblock %}
